input {
  file {
    mode => "read"
    path => "/usr/share/logstash/csv_input/*.csv"
    # path => "/usr/share/logstash/ingest_data/*.csv"
    exit_after_read => true 
    file_completed_action => "log"
    file_completed_log_path => "/usr/share/logstash/csv_input/logstash_completed.log"
  }
}

filter {
  csv {
    autodetect_column_names => true
  }
}

output {
  elasticsearch {
    index => "logstash-%{+YYYY.MM.dd}"
    hosts=> "${ELASTIC_HOSTS}"
    user=> "${ELASTIC_USER}"
    password=> "${ELASTIC_PASSWORD}"
    cacert=> "certs/ca/ca.crt"
  }
}